<app-loading-button [isLoading]="isLoading"></app-loading-button>

@if(!isLoading){

<app-header></app-header>
<!-- Contenido principal -->

<main
  class="container overflow-auto h-screen mx-auto px-3 mt-4"
  style="height: calc(100vh - 96px)"
>
  <div
    class="text-2xl font-bold text-kingfisher-daisy-500 dark:text-white my-4 opacity-30"
  >
    {{ getSaludo() }}
  </div>
  <h3
    class="text-xl font-semibold text-kingfisher-daisy-700 dark:text-kingfisher-daisy-300 mb-4"
  >
    Publicaciones
  </h3>

  <div class="space-y-4 flex items-center flex-col">
    @for (publicacion of publicaciones; track $index) {
    <div
      class="bg-gray-100 dark:bg-gray-700 p-4 rounded-lg shadow transition-colors duration-300 w-11/12"
    >
      <!-- Usuario -->
      <div class="flex items-center mb-4">
        <img
          [src]="publicacion.usuario_foto"
          alt="Foto de perfil"
          class="w-10 h-10 rounded-full mr-4"
        />
        <div>
          <p class="text-gray-800 dark:text-white font-bold">
            {{ publicacion.usuario_username }}
          </p>
          <p class="text-gray-600 dark:text-gray-400 text-sm">
            {{ publicacion.fecha_creacion | date : "yyyy-MM-dd HH:mm:ss" }}
          </p>
        </div>
      </div>

      <!-- Descripción de la publicación -->
      <p class="text-gray-700 dark:text-gray-300 mb-4">
        {{ publicacion.descripcion }}
      </p>

      <!-- Imagen de la publicación -->
      <div class="mb-4" *ngIf="publicacion.imagen">
        <img
          [src]="publicacion.imagen"
          alt="Imagen de la publicación"
          class="h-auto rounded-lg"
        />
      </div>

      <!-- Reacciones -->
      <div class="flex items-center space-x-4">
        <button class="text-blue-500 hover:text-blue-700">
          ❤️ {{ publicacion.megusta }}
        </button>
        <button class="text-gray-500 hover:text-gray-700">
          💬 {{ publicacion.comentarios.length }} comentarios
        </button>
      </div>

      <!-- Lista de comentarios -->
      <div class="mt-4 space-y-2">
        @for (comentario of publicacion.comentarios; track comentario) {
        <div class="flex items-start space-x-2">
          @if (comentario.usuario_foto) {
          <img
            [src]="comentario.usuario_foto"
            alt="Foto de perfil"
            class="w-8 h-8 rounded-full"
          />
          } @else {
          <div
            class="w-8 h-8 rounded-full flex items-center justify-center"
            [style.background-color]="selectedColor"
          >
            {{ getInitials(comentario.usuario_username) }}
          </div>
          }
          <div>
            <p class="text-sm text-gray-800 dark:text-white font-bold">
              {{ comentario.usuario_username }}
            </p>
            <p class="text-sm text-gray-600 dark:text-gray-400">
              {{ comentario.comentario }}
            </p>
          </div>
        </div>
        }
      </div>
    </div>
    } @empty {
    <div class="flex items-center justify-center">
      No hay publicaciones disponibles.
    </div>
    }
  </div>
</main>

}
