<app-loading-button [isLoading]="isLoading"></app-loading-button>

@if(!isLoading){

<app-header></app-header>
<!-- Contenido principal -->

<main
  class="container overflow-auto h-screen mx-auto px-3 mt-4"
  style="height: calc(100vh - 96px)"
>
  <!-- Esto da buenos días, tardes o noches -->
  <div class="text-2xl font-bold text-gray-900 dark:text-white mb-4">
    {{ getSaludo() }}
  </div>

  <div
    class="bg-gradient-to-r from-yellow-400 via-red-500 to-pink-500 text-white p-3 rounded-md shadow-lg mb-4 animate-fade-in"
  >
    {{ mensajeSaludo }}, {{ userName }}
  </div>

  <h3
    class="text-xl font-semibold text-kingfisher-daisy-700 dark:text-kingfisher-daisy-300 mb-4"
  >
    Publicaciones
  </h3>

  <div class="space-y-4 flex items-center flex-col">
    @for (publicacion of publicaciones; track $index) {
    <div
      class="bg-gray-100 dark:bg-gray-700 p-4 rounded-lg shadow transition-colors duration-300 w-11/12"
    >
      <!-- Usuario -->
      <div class="flex items-center mb-4">
        <!--  -->
        @if (publicacion.usuario_foto) {
        <img
          [src]="publicacion.usuario_foto"
          alt="Foto de perfil"
          class="w-10 h-10 rounded-full mr-4"
        />

        }@else {
        <div
          class="w-10 h-10 rounded-full mr-4 flex items-center justify-center"
          [style.background-color]="selectedColor"
        >
          {{ getInitials(publicacion.usuario_username) }}
        </div>
        }
        <!--  -->

        <div>
          <p class="text-gray-800 dark:text-white font-bold">
            {{ publicacion.usuario_username }}
          </p>
          <p class="text-gray-600 dark:text-gray-400 text-sm">
            {{ publicacion.fecha_creacion | date : "yyyy-MM-dd HH:mm:ss" }}
          </p>
        </div>
      </div>

      <!-- Descripción de la publicación -->
      <p class="text-gray-700 dark:text-gray-300 mb-4">
        {{ publicacion.descripcion }}
      </p>

      <!-- Imagen de la publicación -->
      <div class="mb-4" *ngIf="publicacion.imagen">
        <img
          [src]="publicacion.imagen"
          alt="Imagen de la publicación"
          class="h-auto rounded-lg"
        />
      </div>

      <!-- Reacciones -->
      <div class="flex items-center space-x-4">
        <button
          class="transition-transform duration-300 transform hover:scale-110 text-gray-800 dark:text-gray-300 hover:text-red-500 dark:hover:text-red-400 flex items-center space-x-2"
          (click)="toggleLike(publicacion)"
        >
          <span class="text-lg">❤️</span>
          <span>{{ publicacion.megusta }}</span>
          <span>{{
            publicacion.likedByUser ? "Quitar Me gusta" : "Me gusta"
          }}</span>
        </button>

        <button
          (click)="seleccionarPublicacion(publicacion)"
          class="transition-transform duration-300 transform hover:scale-110 text-gray-800 dark:text-gray-300 hover:text-blue-500 dark:hover:text-blue-400 flex items-center space-x-2"
        >
          <span class="text-lg">💬</span>
          <span>{{ publicacion.comentarios.length }} comentarios</span>
        </button>
      </div>

      <!-- Lista de comentarios
      <div class="mt-4 space-y-2">
        @for (comentario of publicacion.comentarios; track comentario) {
        <div class="flex items-start space-x-2">
          @if (comentario.usuario_foto) {
          <img
            [src]="comentario.usuario_foto"
            alt="Foto de perfil"
            class="w-8 h-8 rounded-full"
          />
          } @else {
          <div
            class="w-8 h-8 rounded-full flex items-center justify-center"
            [style.background-color]="selectedColor"
          >
            {{ getInitials(comentario.usuario_username) }}
          </div>
          }
          <div>
            <p class="text-sm text-gray-800 dark:text-white font-bold">
              {{ comentario.usuario_username }}
            </p>
            <p class="text-sm text-gray-600 dark:text-gray-400">
              {{ comentario.comentario }}
            </p>
          </div>
        </div>
        }
      </div> -->
    </div>
    } @empty {
    <div class="flex items-center justify-center">
      No hay publicaciones disponibles.
    </div>
    }
  </div>
</main>

} @if (selectedPublicacion) {
<app-details-publications
  [publicacion]="selectedPublicacion"
  [selectedColor]="selectedColor"
  (closeDetail)="cerrarDetalle()"
  (comentarioAgregado)="loadPublication()"
></app-details-publications>

}
