<div
  class="min-h-screen flex justify-center items-center bg-gradient-to-l from-kingfisher-daisy-200 dark:from-kingfisher-daisy-700 to-kingfisher-daisy-900"
>
  <div class="dark:bg-gray-900 bg-white p-8 rounded-lg shadow-lg w-96">
    <h2
      class="text-center text-2xl font-bold text-kingfisher-daisy-600 dark:text-kingfisher-daisy-300 mb-6"
    >
      Registro
    </h2>

    <form>
      <div class="mb-4">
        <label class="block text-gray-800 dark:text-kingfisher-daisy-200">
          Nombre de usuario
        </label>
        <input
          type="text"
          placeholder="Ej: Saerz"
          [(ngModel)]="username"
          name="username"
          class="w-full p-2 mt-2 bg-gray-200 dark:bg-gray-800 text-gray-800 dark:text-white rounded-md border border-gray-300 dark:border-gray-700"
        />
      </div>

      <div class="flex gap-4 mb-4">
        <div>
          <label class="block text-gray-800 dark:text-kingfisher-daisy-200">
            Nombres
          </label>
          <input
            type="text"
            placeholder="Alberto"
            [(ngModel)]="first_name"
            name="first_name"
            class="w-full p-2 mt-2 bg-gray-200 dark:bg-gray-800 text-gray-800 dark:text-white rounded-md border border-gray-300 dark:border-gray-700"
          />
        </div>
        <div>
          <label class="block text-gray-800 dark:text-kingfisher-daisy-200">
            Apellidos
          </label>
          <input
            type="text"
            placeholder="Carranza"
            [(ngModel)]="last_name"
            name="last_name"
            class="w-full p-2 mt-2 bg-gray-200 dark:bg-gray-800 text-gray-800 dark:text-white rounded-md border border-gray-300 dark:border-gray-700"
          />
        </div>
      </div>

      <div class="mb-4">
        <label class="block text-gray-800 dark:text-kingfisher-daisy-200">
          Correo electrónico
        </label>
        <input
          type="email"
          placeholder="ejemplo@correo.com"
          [(ngModel)]="email"
          name="email"
          class="w-full p-2 mt-2 bg-gray-200 dark:bg-gray-800 text-gray-800 dark:text-white rounded-md border border-gray-300 dark:border-gray-700"
        />
      </div>

      <div class="mb-6">
        <label class="block text-gray-800 dark:text-kingfisher-daisy-200">
          Contraseña
        </label>
        <input
          type="password"
          placeholder="********"
          [(ngModel)]="password"
          name="password"
          class="w-full p-2 mt-2 bg-gray-200 dark:bg-gray-800 text-gray-800 dark:text-white rounded-md border border-gray-300 dark:border-gray-700"
        />
      </div>

      <button
        (click)="Registro()"
        class="w-full bg-kingfisher-daisy-600 hover:bg-kingfisher-daisy-500 dark:text-white text-white font-bold py-2 rounded-md transition-colors"
      >
        Regístrate
      </button>

      <p
        class="text-center text-sm text-gray-700 dark:text-kingfisher-daisy-300 mt-4"
      >
        ¿Ya tienes una cuenta?
        <a
          routerLink="/login"
          class="text-kingfisher-daisy-600 dark:text-kingfisher-daisy-500"
          >Inicia sesión</a
        >
      </p>
    </form>
  </div>
</div>
