<app-loading-button [isLoading]="isLoading"></app-loading-button>
<app-notifications></app-notifications>

@if(!isLoading){
<app-header></app-header>

<!-- Contenedor Principal -->
<div
  class="pt-2 px-4 w-full overflow-y-auto bg-gray-50 dark:bg-gray-900 transition-colors duration-300"
  style="height: calc(100vh - 80px)"
>
  <!-- Portada con imagen de perfil -->
  <div class="relative h-48 md:h-56 bg-kingfisher-daisy-700">
    <!-- Foto de perfil flotante centrada -->
    <div
      class="absolute bottom-0 left-1/2 transform -translate-x-1/2 translate-y-1/2"
    >
      @if(!userProfilePicture){
      <div
        class="w-32 h-32 rounded-full cursor-pointer border-2 border-kingfisher-daisy-500 flex items-center justify-center text-white text-lg"
        [style.background-color]="selectedColor"
      >
        {{ getInitials(userName) }}
      </div>
      } @else {
      <img
        id="profile-pic"
        class="w-32 h-32 rounded-full cursor-pointer border-2 border-kingfisher-daisy-500 object-cover"
        [src]="userProfilePicture ? userProfilePicture : ''"
        [alt]="userName ? getInitials(userName) : 'Foto de perfil'"
        [style.background-color]="!userProfilePicture ? selectedColor : ''"
      />}
    </div>
  </div>

  <!-- Contenido principal -->
  <div class="container mx-auto px-4 mt-16 md:mt-24">
    <div class="flex flex-col md:flex-row gap-6">
      <div
        class="w-full md:w-2/6 h-min bg-white dark:bg-gray-800 rounded-lg shadow-lg p-6 transition-colors duration-300"
      >
        <div class="text-center md:text-left">
          @if (rolUser) {

          <div class="flex items-center justify-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              style="fill: currentColor"
            >
              <path
                d="M20.995 6.9a.998.998 0 0 0-.548-.795l-8-4a1 1 0 0 0-.895 0l-8 4a1.002 1.002 0 0 0-.547.795c-.011.107-.961 10.767 8.589 15.014a.987.987 0 0 0 .812 0c9.55-4.247 8.6-14.906 8.589-15.014zM12 19.897C5.231 16.625 4.911 9.642 4.966 7.635L12 4.118l7.029 3.515c.037 1.989-.328 9.018-7.029 12.264z"
              ></path>
              <path
                d="m11 12.586-2.293-2.293-1.414 1.414L11 15.414l5.707-5.707-1.414-1.414z"
              ></path>
            </svg>
            <p class="text-sm text-gray-500 dark:text-gray-400">
              Administración
            </p>
          </div>
          }
          <h2
            class="text-xl font-bold text-kingfisher-daisy-600 dark:text-kingfisher-daisy-400"
          >
            {{ first_name }} {{ last_name }}
          </h2>
          <p class="text-sm text-gray-500 dark:text-gray-400">
            {{ "@" + userName }}
          </p>
          <hr
            class="hr my-4 border-0 h-1 bg-gradient-to-r from-kingfisher-daisy-400 via-kingfisher-daisy-500 to-kingfisher-daisy-600 rounded-full"
          />

          <div class="text-gray-600 dark:text-gray-300 mt-4">
            <p>
              Correo Electrónico:
              <strong>{{ email }}</strong>
            </p>
            <p>
              Fecha de creación:
              <strong>{{ date_joine }}</strong>
            </p>
          </div>
        </div>
      </div>

      <!-- Sección de publicaciones -->
      <div
        class="w-full md:w-3/4 bg-white dark:bg-gray-800 rounded-lg shadow-lg p-6 transition-colors duration-300"
      >
        <h3
          class="text-xl font-semibold text-kingfisher-daisy-700 dark:text-kingfisher-daisy-300 mb-4"
        >
          Publicaciones
        </h3>

        <!-- Lista de publicaciones -->
        <div class="space-y-4 flex items-center flex-col">
          <div
            *ngFor="let publicacion of publicaciones"
            class="bg-gray-100 dark:bg-gray-700 p-4 rounded-lg shadow transition-colors duration-300 w-11/12"
          >
            <!-- Usuario -->
            <div class="flex items-center mb-4">
              <!--  -->
              @if (publicacion.usuario_foto) {
              <img
                [src]="publicacion.usuario_foto"
                alt="Foto de perfil"
                class="w-10 h-10 rounded-full mr-4"
              />

              }@else {
              <div
                class="w-10 h-10 rounded-full mr-4 flex items-center justify-center"
                [style.background-color]="selectedColor"
              >
                {{ getInitials(publicacion.usuario_username) }}
              </div>
              }
              <!--  -->
              <div>
                <p class="text-gray-800 dark:text-white font-bold">
                  {{ publicacion.usuario_username }}
                  <!-- usuario_username -->
                </p>
                <p class="text-gray-600 dark:text-gray-400 text-sm">
                  {{
                    publicacion.fecha_creacion | date : "yyyy-MM-dd HH:mm:ss"
                  }}
                  <!-- fecha_creacion -->
                </p>
              </div>
            </div>
            <!-- Descripción de la publicación -->
            <p class="text-gray-700 dark:text-gray-300 mb-4">
              {{ publicacion.descripcion }}
              <!-- descripcion -->
            </p>

            <!-- Imagen de la publicación -->
            <div class="mb-4">
              <img
                [src]="publicacion.imagen"
                alt="Imagen de la publicación"
                class="h-auto rounded-lg"
              />
            </div>

            <!-- Reacciones -->
            <div class="flex items-center space-x-4">
              <button
                class="text-kingfisher-daisy-500 hover:text-kingfisher-daisy-700"
                (click)="toggleLike(publicacion)"
              >
                ❤️ {{ publicacion.megusta }}
                {{ publicacion.likedByUser ? "Quitar Me gusta" : "Me gusta" }}
              </button>
              <button
                (click)="seleccionarPublicacion(publicacion)"
                class="text-kingfisher-daisy-500 hover:text-kingfisher-daisy-700"
              >
                💬 {{ publicacion.comentarios.length }} comentarios
                <!-- Aquí se cuenta la cantidad de comentarios -->
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Sección de perfil del usuario -->
  </div>
</div>

@if (selectedPublicacion) {
<app-details-publications
  [publicacion]="selectedPublicacion"
  [selectedColor]="selectedColor"
  (closeDetail)="cerrarDetalle()"
  (comentarioAgregado)="loadPublication()"
></app-details-publications>

}

<!-- Modal Mejorado para Publicaciones -->
<div
  class="fixed z-10 inset-0 overflow-y-auto"
  *ngIf="isModalOpen"
  aria-labelledby="modal-title"
  role="dialog"
  aria-modal="true"
>
  <div
    class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
  >
    <!-- Fondo del modal -->
    <div
      class="fixed inset-0 bg-gray-600 dark:bg-black bg-opacity-75 transition-opacity"
      aria-hidden="true"
    ></div>

    <!-- Truco para centrar el modal en pantallas grandes -->
    <span
      class="hidden sm:inline-block sm:align-middle sm:h-screen"
      aria-hidden="true"
      >&#8203;</span
    >

    <!-- Contenedor del Modal con estilo mejorado -->
    <div
      class="inline-block align-bottom bg-white dark:bg-gray-900 rounded-lg px-8 pt-7 pb-8 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full sm:p-10"
    >
      <!-- Encabezado del Modal -->
      <h3
        class="text-xl font-semibold text-gray-900 dark:text-gray-100 mb-6"
        id="modal-title"
      >
        Nueva Publicación
      </h3>

      <!-- Contenido del Modal -->
      <div class="space-y-6">
        <!-- Formulario de la publicación -->
        <form [formGroup]="publicacionForm" (ngSubmit)="onSubmit()">
          <!-- Campo para subir imagen -->
          <div>
            <label
              for="imagen"
              class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-2"
              >Subir Imagen</label
            >
            <input
              id="imagen"
              type="file"
              (change)="onImageChange($event)"
              class="block w-full mt-1 shadow-sm sm:text-sm border-gray-300 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-100 rounded-md"
              accept="image/*"
            />
          </div>

          <!-- Vista previa de la imagen (si está disponible) -->
          <div *ngIf="imagenPreview" class="mt-4">
            <label
              class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-2"
              >Vista previa de la imagen:</label
            >
            <img
              [src]="imagenPreview"
              alt="Vista previa"
              class="w-full h-auto rounded-md shadow-md"
            />
          </div>

          <!-- Campo de texto para la descripción -->
          <div>
            <label
              for="descripcion"
              class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-2"
              >Descripción</label
            >
            <textarea
              id="descripcion"
              formControlName="descripcion"
              rows="3"
              class="block w-full mt-1 shadow-sm sm:text-sm border-gray-300 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-100 rounded-md"
              placeholder="Escribe algo..."
            ></textarea>
          </div>

          <!-- Botón para enviar el formulario -->
          <div class="mt-6 sm:flex sm:flex-row-reverse">
            <button
              type="submit"
              [disabled]="publicacionForm.invalid"
              class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-5 py-3 bg-blue-600 text-base font-medium text-white hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:ml-3 sm:w-auto sm:text-sm"
            >
              Publicar
            </button>
            <button
              type="button"
              class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 dark:border-gray-600 shadow-sm px-5 py-3 bg-gray-200 dark:bg-gray-800 text-base font-medium text-gray-700 dark:text-gray-300 hover:bg-gray-300 dark:hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:mt-0 sm:w-auto sm:text-sm"
              (click)="closeModal()"
            >
              Cancelar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Botón flotante en la esquina inferior derecha -->
<a
  (click)="openModal()"
  title="Crea una nueva personalización"
  class="fixed bottom-6 right-6 bg-kingfisher-daisy-600 hover:bg-kingfisher-daisy-500 text-white rounded-full p-4 shadow-lg transition-colors duration-300"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="h-6 w-6"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
    stroke-width="2"
  >
    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
  </svg>
</a>
}
